.Country{
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid lightgray;
    
   
}

.image{
    height: 50px;
    width: 50px;
   
}

.title{
    display: grid;

}

.country_detaisl{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px ;
   
    
}

.country_detaisl:hover{
    background-color: blue;
    color: white;
}
